<section>
  <h2 id="projects">Projects</h2>
  <p>GitHub: <a href="https://github.com/harrymckillen" target="_blank">https://github.com/harrymckillen</a></p>
  <p>Personal Website: <a href="https://harrymckillen.com" target="_blank">https://harrymckillen.com</a></p>
  <p>This CV: <a href="#">https://cv.harrymckillen.com</a></p>
  <p>
    Former Freelance Website: <a href="http://www.wolfhound.ie" target="_blank">http://www.wolfhound.ie</a> (planning to repurpose it)
  </p>
</section>

<section>
  <h2 id="interests">Interests</h2>
  <p>
    I enjoy reading, music, gaming, TV and movies. I also enjoy hiking and I'm a keen amateur photographer. I have an
    interest in sport, moreso in a coaching capacity now, and I coach both a local Gaelic football team and a local
    Hurling team.
  </p>
</section>

<section>
  <h2 id="referees">Referees</h2>
  <p>Available on request.</p>
</section>
