<section>
  <h2>Professional Profile</h2>
  <p>
    I am a highly capable Software Engineer and enthusiastic individual with a keen interest in technology and software
    development. I currently work as a frontend engineer, and specialise in frontend technologies, however I also have
    significant experience in full-stack development roles throughout my career. I am a quick learner and have a strong
    work ethic. I am always looking to improve my skills and learn new technologies.
  </p>
  <p>
    I am a team player and like working in a collaborative atmosphere. I also have experience mentoring, leading and
    managing people.
  </p>
</section>
